@page
@model AboutModel
@{
    ViewData["Title"] = "Sobre Nós";
}
<h2>@ViewData["Title"]</h2>

<p>A Drogarias Condado é uma rede de drogarias em crescimento, que atua no mercado há 7 anos, e possui unidades no interior do estado de Minas Gerais.</p>
