@page
@model ContactModel
@{
    ViewData["Title"] = "Fale Conosco";
}

<h2><strong>@Model.Message</strong></h2>

<h2>@ViewData["Title"]</h2>

<address>
    Av. Paulista, 2300 - Consolação, São Paulo - SP, 01310-300<br />
    Telefone: (11) 3283-3737
</address>

<address>
    <strong>Central de Atendimento:</strong><a href="mailto:atendimento@drogariacondado.com"> atendimento@drogariacondado.com </a>
</address>
