@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="jumbotron">
  <h1 class="display-4"><strong>Drogarias Condado</strong></h1>
  <br />
  <p class="lead">A rede de Drogarias Condado oferece muitos benefícios e vantagens aos seus clientes.<br />Nosso compromisso é ser 
a sua Drogaria, completa e pronta, sempre que você precisar.</p>
  <hr class="my-4">
  <p>Descontos em medicamentos genéricos e de marca!</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg active" href="./Lojas/Map" role="button">Para econtrar uma farmácia, clique aqui !</a>
  </p>
</div>


    
